{% extends 'wenzhnagfabu2.html' %}
{% block publishArt %}
    <div class="publishArt">
    <h4>分类管理</h4>
    <div class="pubMain">
    <a href="{% url 'App:xinwen' %}" class="backlistBtn"><i class="ico-back"></i>返回列表</a>
        <form action="{% url 'App:charu/'  %}" method="post">
            {% csrf_token %}
            <h5 class="pubtitle">类别名称</h5>
            <div class="pub-txt-bar">
                <input type="text" name="add_name" class="shuruTxt" value="请输入类别名称进行添加"><br><br>
                <div style="size: 36px;color: red">&nbsp;&nbsp;&nbsp;&nbsp;{{ msg1 }}</div>
            </div>
            <div class="pub-btn">
                <input type="submit" id="" value="添加类别" class="saveBtn">
            </div>
        </form>

        <form action="{% url 'App:charu/' %}" method="post">
            {% csrf_token %}
            <h5 class="pubtitle">类别名称</h5>
            <div class="pub-txt-bar">
                <input type="text" name="del_name" class="shuruTxt" value="请输入类别名称进行删除"><br><br>
                <div style="size: 36px;color: red">&nbsp;&nbsp;&nbsp;&nbsp;{{ msg2 }}</div>
            </div>
            <div class="pub-btn">
                <input type="submit" id="" value="删除类别" class="saveBtn">
            </div>
        </form>
    </div>
{% endblock publishArt %}



